<ion-list>
  <ion-item>
    <b>Anger Management training </b>

  </ion-item>
  <ion-item>
    <p>At the end of this training course your participants will be able to:</p>
  </ion-item>
  <ion-item>
    <ul>
      <li>
        Understand the physiology of anger and identify triggers.
      </li>
      <br>
      <li>
        Use cognitive restructuring and self-talk to help manage anger.
      </li>
      <br>
      <li>
        Develop better lifestyle choices.
      </li>
    </ul>

  </ion-item>
  <ion-item>
    <h4>Cost :<b>$500</b></h4>
    <ion-button size="default" style="position: relative;left: 30%;" color="success">Get it </ion-button>
  </ion-item>
</ion-list>