ion-spinner {
  width: 50px !important;
  height: 50px !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.radio {
  margin-top: 10px;
}

.avail {
  position: relative;
  left: 45%;
}
