<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      My Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-spinner color="warning" *ngIf="showspinner" name="crescent"></ion-spinner>
  <ion-list *ngIf="!showspinner">
    <ion-item>
      {{username}}
    </ion-item>
    <ion-item>
      {{email}}
    </ion-item>
  </ion-list>
  <ion-button color="danger" expand="block" (click)="Logout()">Logout?</ion-button>
  <ion-button color="danger" expand="block" [routerLink]="['/slides']">slides?</ion-button>

</ion-content>