.star {
  color: gold;
  font-size: 20px;
}

ion-card-title {
  position: relative;
  right: -5%;
  font-size: x-large;
  color: black;
}

ion-card-subtitle {
  font-size: larger;
  position: relative;
  font-weight: 700;
  right: -5%;
}
