.star {
  color: gold;
  font-size: 20px;
}

ion-card-title {
  position: relative;
  right: -5%;
  font-size: x-large;
  color: black;
}

ion-card-subtitle {
  font-size: larger;
  position: relative;
  font-weight: 700;
  right: -5%;
}

// ion-content {
//   --background: url('https://images-na.ssl-images-amazon.com/images/I/115O2Q7cn0L._SX331_BO1,204,203,200_.jpg')
//     0 0/100% 100% no-repeat;
// }
