<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      Favourites
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item-sliding *ngFor="let fav of favouritedoctors">
      <ion-item (click)="gotoprofile(fav.favoneId._id)">
        <ion-avatar slot="start" style="height: 60px; width: 60px;">
          <img [src]="fav.favoneId.imgUrl">
        </ion-avatar>
        <ion-label>
          <h1> Dr.{{fav.favname}}</h1>
          <!-- <h4 style="font-size: large;">{{fav.qualification}}</h4> -->
        </ion-label>
        <ion-icon color="danger" name="heart"></ion-icon>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="unread(item)">Remove</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>


</ion-content>