<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      Hypnotist
    </ion-title>
    <ion-icon (click)="openSearch()" style="font-size: x-large; position: relative;right: 20px;" slot="end"
      name="notifications"></ion-icon>
  </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="true">
  <ion-grid>

    <ion-card style="margin-top: 8px;" *ngIf="bool">
      <ion-item>
        <ion-input class="input-field" placeholder="search">
        </ion-input>
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-item>
    </ion-card>

    <ion-row>
      <ion-col size-xs="12" *ngFor="let arr of doctorsarray">
        <ion-card (click)="gotoprofile(arr)">
          <div class="autosize" style="height: 200px;">
            <img style="width:100%; 
            height:100%; " [src]="arr.imgUrl" />
          </div>

          <ion-grid>
            <ion-row>
              <ion-col size="auto">
                <ion-card-title>Dr.{{arr.fullName}}</ion-card-title>
              </ion-col>

              <div style="margin-top: 10px; ">
                <ion-col size="auto">
                  <ion-icon class="star" name="star"></ion-icon>
                </ion-col>
                <ion-col size="auto">
                  <ion-icon class="star" name="star"></ion-icon>
                </ion-col>
                <ion-col size="auto">
                  <ion-icon class="star" name="star"></ion-icon>
                </ion-col>
                <ion-col size="auto">
                  <ion-icon class="star" name="star"></ion-icon>
                </ion-col>
              </div>
            </ion-row>
            <ion-row>
              <ion-card-subtitle>Hypnotist in gotham MBBS</ion-card-subtitle>
            </ion-row>
          </ion-grid>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->



<ion-content [fullscreen]="true">

  <div class="ion-padding wrapper">

    <!-- <ion-searchbar></ion-searchbar> -->

    <ion-grid class="ion-no-padding">
      <ion-row class="ion-align-items-baseline">
        <ion-col size="6">
          <h4 class="title">
            Terapists
          </h4>
        </ion-col>
        <ion-col size="6">
          <h4 class="more ion-text-end">
            View more
          </h4>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12">
        <ion-slides [options]="options">

          <ion-slide *ngFor="let arr of doctorsarray">
            <ion-card class="card" (click)="gotoprofile(arr)" mode="ios">
              <ion-card-content class="ion-text-left">

                <div class="img-wrapper">
                  <ion-img [src]="arr.imgUrl">
                  </ion-img>
                </div>

                <ion-card-title class="title">Dr.{{arr.fullName}}</ion-card-title>
                <ion-card-subtitle>Some description here</ion-card-subtitle>
                <ion-card-subtitle>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </ion-slide>



        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>


  <div class="ion-padding-horizontal wrapper">

    <ion-grid class="ion-no-padding">
      <ion-row class="ion-align-items-baseline">
        <ion-col size="6">
          <h4 class="title">
            What are you Looking For?
          </h4>
        </ion-col>
        <ion-col size="6">
          <h4 class="more ion-text-end">
            Show more
          </h4>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12">
        <ion-slides [options]="categories">

          <ion-slide>
            <ion-card class="category" color="danger">
              <ion-card-header class="ion-text-center">
                <ion-icon src="https://www.flaticon.com/svg/static/icons/svg/3588/3588397.svg"></ion-icon>
                <ion-card-title>Cognitive </ion-card-title>
                <ion-card-subtitle>hypnotherapy</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card class="category" color="primary">
              <ion-card-header class="ion-text-center">
                <ion-icon src="https://www.flaticon.com/svg/static/icons/svg/3588/3588440.svg"></ion-icon>
                <ion-card-title>Ericksonian</ion-card-title>
                <ion-card-subtitle>hypnotherapy</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card class="category" color="warning">
              <ion-card-header class="ion-text-center">
                <ion-icon src="https://www.flaticon.com/svg/static/icons/svg/3520/3520923.svg"></ion-icon>
                <ion-card-title>psychotherapy</ion-card-title>
                <ion-card-subtitle>hypnotherapy</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card class="category" color="success">
              <ion-card-header class="ion-text-center">
                <ion-icon src="https://www.flaticon.com/svg/static/icons/svg/3588/3588397.svg"></ion-icon>
                <ion-card-title>Hypnoanalysis</ion-card-title>
                <ion-card-subtitle>hypnotherapy</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card class="category" color="tertiary">
              <ion-card-header class="ion-text-center">
                <ion-icon src="https://www.flaticon.com/svg/static/icons/svg/3588/3588440.svg"></ion-icon>
                <ion-card-title>Past life regression</ion-card-title>

              </ion-card-header>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card class="category" color="danger">
              <ion-card-header class="ion-text-center">
                <ion-icon src="https://www.flaticon.com/svg/static/icons/svg/3520/3520923.svg"></ion-icon>
                <ion-card-title>Rapid </ion-card-title>
                <ion-card-subtitle>Transformational</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card class="category" color="secondary">
              <ion-card-header class="ion-text-center">
                <ion-icon src="https://www.flaticon.com/svg/static/icons/svg/3588/3588440.svg">
                </ion-icon>
                <ion-card-title>Time Line </ion-card-title>
                <ion-card-subtitle>Something here</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-slide>

        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>



  <div class="ion-padding-horizontal wrapper">

    <ion-grid class="ion-no-padding">
      <ion-row class="ion-align-items-baseline">
        <ion-col size="6">
          <h4 class="title">
            Recommended Doctors
          </h4>
        </ion-col>
        <ion-col size="6">
          <h4 class="more ion-text-end">
            Show more
          </h4>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>


  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12">
        <ion-slides [options]="options">

          <ion-slide *ngFor="let arr of reversearray">
            <ion-card class="card" (click)="gotoprofile(arr)" mode="ios">
              <ion-card-content class="ion-text-left">

                <div class="img-wrapper">
                  <ion-img [src]="arr.imgUrl">
                  </ion-img>
                </div>

                <ion-card-title class="title">Dr.{{arr.fullName}}</ion-card-title>
                <ion-card-subtitle>Some description here</ion-card-subtitle>
                <ion-card-subtitle>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </ion-slide>


        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>

</ion-content>