.card {
  margin-top: -38px;
}

.headings {
  color: black;
  font-style: italic;
  font-weight: 500;
}

.subheading {
  margin-top: -5px;
  color: cornflowerblue;
  font-size: x-large;
  font-weight: 500;
}

p {
  margin-top: -2px;
  font-size: larger;
  font-weight: 600;
}

.iconstar {
  font-size: xx-large;
  color: gold;
}
li {
  font-size: medium;
  margin-top: 15px;
}

.buttongreen {
  background-color: green;
}

.menu {
  font-size: 20px;
  position: relative;
  right: 5%;
}
