.card {
  margin-top: -38px;
}

.headings {
  color: black;
  font-style: italic;
  font-weight: 500;
  position: relative;
  right: -5%;
}

.subheading {
  margin-top: -5px;
  color: cornflowerblue;
  font-size: x-large;
  font-weight: 500;
  position: relative;
  right: -8%;
}

p {
  margin-top: -2px;
  font-size: larger;
  font-weight: 600;
  position: relative;
  right: -8%;
}

.iconstar {
  font-size: xx-large;
  color: gold;
}
li {
  font-size: medium;
  margin-top: 15px;
}

.buttongreen {
  background-color: green;
}

.menu {
  font-size: 20px;
  position: relative;
  right: 5%;
}

ion-spinner {
  width: 50px !important;
  height: 50px !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.excellence {
  margin-top: -10px;
}

.cond {
  margin-top: -5px;
  color: cornflowerblue;
  font-size: x-large;
  font-weight: 500;
  position: relative;
  right: -22%;
}

.descr {
  margin-top: -2px;
  font-size: larger;
  font-weight: 600;
  position: relative;
  right: -5%;
}

ion-avatar {
  width: 50px !important;
  height: 50px !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
